.sm-menu {
  border: $menu-border-width solid $menu-border-color;
  background: $menu-background-color;
  @include prefixer(box-shadow, $menu-box-shadow, webkit moz o spec);
  ul {
    border: $menu-border-width solid $menu-border-color;
    background: $menu-background-color;
    @include prefixer(box-shadow, $menu-box-shadow, webkit moz o spec);
  }
  a {
    padding: $menu-link-padding-top  $menu-link-padding-side;
    color:  $menu-font-color;
    font-size: $font-size;
    line-height: $line-height;
    font-family: $menu-font-family;
    text-decoration: none;
    &:hover, &:focus, &:active, &.highlighted {
      background: $hover-background-color;
      color: $hover-color;
    }
    &.current {
      background: $hover-color;
      color: $menu-background-color ;
      &:hover, &:focus, &:active {
        background: $hover-color;
        color: $menu-background-color ;
      }
    }
    &.has-submenu {
      padding-right: 32px;
    }
  }
  ul a.has-submenu {
    padding-right: 23px;
  }


  // sub menu indicators
  a span.sub-arrow {
    border-color: $submenu-arrow-color transparent transparent;
    border-style: solid dashed dashed;
    position: absolute;
    width: 0;
    height: 0;
    overflow:hidden;
    @include arrow-size(5px);

  }
  ul a span.sub-arrow {
    right: auto;
    margin-left: -14px;
  }


  // item separators
  li {
    border-left: 1px solid $item-separator-color;
    &:first-child {
      border-left: 0;
    }
  }
  ul li {
    border-left: 0;
    border-top: 1px solid $item-separator-color;
  }
  ul li:first-child, .sm-menu-vertical li:first-child {
    border-top: 0;
  }
  @import "scrolling";
}

