/*

@mixin box-shadow  (	$h-shadow : 0px,
						$v-shadow : 1px,
						$blur : 1px,
						$spread: 1px,
						$color : 'rgba(0, 0, 0, 0.2)',
						$inset : '') {

  -o-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset;
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset;
  box-shadow: $h-shadow $v-shadow $blur $spread $color $inset;
}

*/