// controllers size and position of the submenu arrow
@mixin arrow-size ($size: 5px) {
    @if $size > 14px { $size : 14px; }
    right: 14px - ($size / 2);
    border-width: $size;
    bottom: (($line-height + $menu-link-padding-top*2)/2 ) - ($size*1.5) ;
}